<div>
	Artist Name:<br>
	<input name="artist" type="text" ng-model="artist" class=""><br>
	Album Name:<br>
	<input name="album" type="text" ng-model="albumName" class=""><br>
	Choose Playlist:<br>

	<p>Just to be clear, playlist = ((playlist))</p>
	<select class="SelectRfid" ng-model="playlist"> 
	   <option ng-repeat="entry in playlistList | filter:notAlreadyUsed" ng-model="playlist">
	   ((entry))
	   </option>
	</select><br>
	   <!-- ng-options="car.guid as car.name for car in cars" -->

	<!-- <input><br> -->
	Associated Tag #:<br>
	<input name="rfid" type="text" class="" ng-model="rfid"><br>
	<button ng-click="">Submit</button>
</div>
<dir>
	<a href="#/">Return to main</a>
</dir>
