<div class="newEntry">
	Artist Name:<br>
	<input name="artist" type="text" ng-model="artistName" class=""><br>
	Album Name:<br>
	<input name="album" type="text" ng-model="albumName" class=""><br>
	Choose Playlist:<br>

	<select class="SelectRfid" ng-model="playlist">
		<option ng-repeat="entry in playlistList | filter:notAlreadyUsed" ng-model="playlist">
		((entry))
		</option>
	</select><br>

	Associated Tag #:<br> 
	<input name="rfid" type="text" class="" ng-model="lastRfid"><br>
	<button ng-click="postNewAlbum()">Submit</button>
</div>
