<div class="Entry">
	Artist Name:<br>
	<input name="artist" type="text" ng-model="artistName" class="artistInput"><br>
	Album Name:<br>
	<input name="album" type="text" ng-model="albumName" class="albumInput"><br>

	Choose Playlist:<br>
	<select ng-model="playlist" class="playlistInput">
		<option ng-repeat="entry in playlistList | filter:notAlreadyUsed" ng-model="playlist">
		</option>
	</select><br>

	Associated Tag #:<br> 
	<input name="rfid" type="text" class="rfidInput" ng-model="lastRfid"><br>
	<button ng-click="postNewAlbum()" class="submitButton">Submit</button>
</div>
