
<!-- ((test)) -->
<div ng-if="showAlbums" class="viewEntries">
	<div ng-repeat="album in allAlbums " class="listedAlbum">
		<!-- <p class="album-entry" ng-click="editAlbum(album)">((album.artist)) - ((album.title))</p> -->
		<a class="album-entry" href="/#/edit/((album.rfid))">(($index)) - ((album.artist)) - ((album.title))</a>
	</div>
</div>
<div ng-if="!showAlbums">
	Artist Name:<br>
	<input name="artist" type="text" ng-model="artist" class=""><br>
	Album Name:<br>
	<input name="album" type="text" ng-model="albumName" class=""><br>
	Choose Playlist:<br>
	<input name="playlist" type="text" ng-model="playList" class=""><br>
	Associated Tag #:<br>
	<input name="rfid" type="text" class="" ng-model="rfid"><br>
	<button ng-click="">Submit</button>

	<dir>
		<a href="#/">Return to main</a>
	</dir>
</div>