.album-entry {
	margin: 10px 0px;
}

.navBar {
	background-color: #8d8d8d;
	height: 172px;
	padding-top: 80px;
}

#logo {
	float: right;
	margin-left: 0px;
	margin-top: -80px;
}
.controls {
	/*width: 80%;*/
	margin-left: 51%;
	float: left;
}

.controls a {
	font-size: 30px;
	padding-right: 35px;
	color: #0d0d0d;
}

.navBar img {
	margin-left: 809px;
}

/******************new entry*********************/

.newEntry {
	margin-top: 60px;
	margin-left: 60px;
}